astroid==3.3.11
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
curl_cffi==0.12.0
Deprecated==1.2.18
dill==0.4.0
et_xmlfile==2.0.0
frozendict==2.4.6
futu_api==9.3.5308
humanize==4.12.3
idna==3.10
isort==6.0.1
lxml==6.0.0
mccabe==0.7.0
multitasking==0.0.12
numpy==2.2.6
openpyxl==3.1.5
pandas==1.5.3
peewee==3.18.2
platformdirs==4.3.8
protobuf==3.20.3
psutil==7.0.0
pyarrow==21.0.0
pycparser==2.22
pycryptodome==3.23.0
pylint==3.3.7
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
requests-futures==1.0.2
setuptools==65.5.0
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
tomli==2.2.1
tomlkit==0.13.3
tqdm==4.67.1
tushare==1.4.21
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.17.2
yahooquery==2.4.1
yfinance==0.2.65
